.navbar {
  height: 3em;
  background-color: hotpink;
  display: flex;
  flex-flow: row;
  align-content: flex-start;
}

.title {
  text-align: start;
  color: white;
  padding-left: 3em;
  padding-top: .5em;
  font-size: 1.5em;
  font-family: monofur, Courier New, Courier, monospace;
}