@import url('https://fonts.googleapis.com/css?family=Pacifico');

.clock {
	position: relative;
  padding-top: 1em;
	top: 0; left: 0; bottom: 0; right: 0;
	font-family: 'Pacifico';
	text-align: center;
	text-shadow: 0.1em 0.1em 0.1em #aaa;
	color: blue;
	font-size: 9em;
}